{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1><i>Thrips</i></h1>
      <div class="position-relative overflow-hidden text-justify">
      <h4>Penjelasan Hama</h4>
      <center><img src="static/images/resource/thripps1.png" height="240px"> <img src="static/images/resource/thripps2.png" height="240px"></center><br><br>
    <p>
        <i>Thrips</i> merupakan hama yang berukuran cukup kecil dengan ukuran 1 mm hingga 2 mm untuk
            panjang dari ujung kepala hingga ujung badan. Hama ini ketika masih nimfa memiliki warna coklat kehitaman
            dengan bercak merah dan berwarna kekuningan saat menjadi serangga dewasa. Umumnya serangan dari hama ini
            banyak terjadi pada musim kemarau.
<!--            Namun dalam beberapa kasus ditemukan juga <i>thripps</i> dengan warna hijau muda seperti ditunjukkan pada gambar.-->
    </p>
        Hama <i>thrips</i> menyerang banyak tanaman, beberapa diantaranya adalah tanaman cabai merah, cabai rawit,
        jeruk, melon, dan paprika. Berikut merupakan gejala-gejala yang ditimbulkan:

        <ul>
        <li>Tanaman cabai</li>
            <p>
                Daun pada tanaman cabai memiliki bercak dengan warna keperak-perakkan, kemudian berubah warna menjadi
                coklat tembaga. Lalu daun akan mengeriting atau menjadi keriput dan akhirnya mati.
            </p>
        <li>Tanaman jeruk</li>
            <p>
                Helai daun muda pada tanaman jeruk menebal, kedua sisi daun agak menggulung ke atas, dan pertumbuhannya
                tidak normal. Sedangkan pada buahnya, terdapat bekas luka berwarna coklat keabu-abuan yang disertai
                garis nekrotis di sekeliling luka. Pada permukaan kulit buah, di sekeliling tangkai atau melingkar pada
                sekeliling kulit buah tampak warna coklat tembaga.
            </p>
        <li>Tanaman melon</li>
            <p>
                Daun muda atau tunas pada tanaman melon keriting dan penuh dengan bintik berwarna putih keperakan. Tanamannya
                keriting dan kerdil serta tidak dapat membentuk buah secara normal
            </p>
        <li>Tanaman paprika</li>
            <p>
                Pertumbuhan pada pucuk tunas dan bunga tanaman melon terhambat dan tanaman menjadi kerdil. Pada daun, <i>thrips</i>
                menghisap cairan pada daun-daun muda, sehingga pada permukaan daun terdapat bekas tusukan thrips. Daun
                berwarna keperakan, kemudian berubah menjadi kecoklatan serta keriput atau menggulung. <i>Thrips</i>
                bersembunyi di dalam bunga paprika dan merusak calon buahnya.
            </p>
        </ul>
          <i>Thrips</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.



    <br><br><br>
    <h4>Penanganan Hama</h4><br>
        <center>
            <img src="static/images/resource/thrips_jeruk1.jpg" height="180px">
            <img src="static/images/resource/thrips_jeruk2.jpg" height="180px"><br><br>
            <img src="static/images/resource/thrips_jeruk3.png" height="180px">
            <img src="static/images/resource/thrips_melon.jpg" height="180px"><br><br>
            <img src="static/images/resource/thrips_paprika.jpg" height="200px">
            <img src="static/images/resource/thrips_cabai.jpg" height="200px"><br>
            <h6><i>Thrips</i> pada jeruk (atas dan tengah kiri), melon (tengah kanan), paprika (kiri dan tengah bawah), dan cabai (kanan bawah)</h6>
            <br>
        </center>

    <p>
        Pengendalian terhadap <i>thrips</i> pada umumnya dapat dilakukan dengan beberapa cara, yaitu:
        <ul>
        <li>Kultur teknis</li>
        <p>
            Teknik kultur teknis dapat dilakukan dengan:
            <ol>
            <li>Sanitasi lahan, </li>
            <p>
                Sanitasi lahan merupakan proses pembersihan lahan dari hal-hal yang dapat mengganggu pertumbuhan tanaman,
                seperti:
                <ul>
                <li>Sisa-sisa tanaman yang masih hidup,</li>
                <li>Tanaman atau bagian yang terserang hama,</li>
                <li>Sisa tanaman yang sudah mati,</li>
                <li>Jenis tanaman lain yang dapat menjadi inang pengganti,</li>
                <li>Sisa-sisa bagian tanaman yang jatuh atau tertinggal di permukaan tanah seperti buah dan daun</li>
                </ul>
            </p>
            <li>Menggunakan mulsa hitam perak, </li>
            <p>
                Penggunaan mulsa hitam perak digantikan dengan mulsa perak pada tanaman melon
            </p>
            <li>Tanaman perangkap, </li>
            <p>
                Seperti tagetes, jagung atau bunga matahari. Menggunakan Kenikir kuning untuk tanaman cabai.<br>
                <center><img src="static/images/resource/kenikirkuning.jpg"></center>
            </p>
            <li>Pengaturan jarak tanam pada tanaman jeruk</li>
            <p>
                Pengaturan jarak tanam dilakukan pada tanaman jeruk dengan ketentuan sebagai berikut:
                <ul>
                <li>Pada lahan kering, untuk jenis tanaman jeruk:</li>
                <ol>
                    <li>Jeruk Keprok, Jeruk Siam, Jeruk Manis, Jeruk Nipis</li>
                    <p>
                        dengan ukuran jarak tanam 4x4 meter atau 5x5 meter
                    </p>
                    <li>Jeruk Pamelo</li>
                    <p>
                        dengan ukuran jarak tanam 6x6 meter atau 8x8 meter
                    </p>
                </ol>
                <li>Pada lahan basah, untuk jenis tanaman jeruk:</li>
                <ol>
                    <li>Jeruk Keprok, Jeruk Siam, Jeruk Manis, Jeruk Nipis</li>
                    <p>
                        dengan ukuran jarak tanam 4x7 meter atau 5x8 meter
                    </p>
                    <li>Jeruk Pamelo</li>
                    <p>
                        dengan ukuran jarak tanam 6x7 meter atau 8x8 meter
                    </p>
                </ol>
                </ul>
            </p>
            <li>Rotasi tanaman</li>
            <p>
                Melakukan rotasi tanaman pada penanaman melon dengan tanaman cabai
            </p>
            </ol>
        </p>

        <li>Mekanis atau fisik</li>
        <p>
            Penanganan secara mekanis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Memusnahkan tanaman terserang, </li>
            <li>Memasang perangkap kuning (<i>fly trap</i>)</li>
        </p>
            <p>
                Pada tanaman paprika dapat dilakukan pemasangan perangkap kuning, biru, dan putih. Serta dapat dilakukan:
                <ol>
                <li>Monitoring lahan</li>
                <li>Mengambil <i>thrips</i></li>
                <p>
                    pengambilan <i>thrips</i> dari bunga tanaman paprika dapat dilakukan dengan menggunakan kapas atau
                    <i>cotton bud</i> yang diolesi dengan minyak lavender
                </p>
                <li>Pemangkasan</li>
                <p>
                    pemangkasan pada tanaman paprika dilakukan pada tunasnya atau biasa disebut dengan pewiwilan, serta
                    melakukan pembuangan mahkota bunga
                </p>
                </ol>
            </p>
            </ol>

        <li>Biologi</li>
        <p>
            Pada tanaman cabai dapat digunakan:
            <ol>
            <li>Predator</li>
            <p>
                seperti kumbang <i>Coccinellidae</i>,<br>
                <center><img src="static/images/resource/coccinellidae.jpg" height="240"></center>
                larva <i>Chrysopidae</i>, dan kepik <i>Anthocoridae</i>
            </p>
            <li>Patogen</li>
            <p>
                seperti <i>Entomophthora sp.</i>
            </p>
            </ol>
        </p><br>
        <p>
            Pada tanaman melon dapat digunakan:
            <ol>
            <li>Predator</li>
            <p>
                seperti <i>Orius similis</i><br>
                <center><img src="static/images/resource/oriussimillis.jpg" width="240"></center>
            </p>
            <li>Agens hayati</li>
            <p>
                seperti <i>Paecylomyces sp.</i> dan <i>Beauveria bassiana</i>
            </p>
            </ol>
        </p><br>
        <p>
            Pada tanaman paprika dapat digunakan:
            <ol>
            <li>Predator</li>
            <p>
                seperti <i>Menochilus sexmaculatus</i><br>
                <center><img src="static/images/resource/menochilus.jpg"></center>
            </p>
            <li>Patogen</li>
            <p>
                seperti <i>Verticillium lecanii</i><br>
                <center><img src="static/images/resource/verticillium.jpg"></center>
            </p>
            </ol>
        </p>

        <li>Kimia</li>
        <p>
            Pada tanaman cabai menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Propineb"><li>Propineb 70%</li></a>
            <li>Deltamethrin 25 g/l</li>
            </ul>
        </p>
        <p>
            Pada tanaman jeruk menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=alfa%20sipermetrin"><li>Alfametrin atau Alfasipermetrin</li></a>
            </ul>
        </p>
        <p>
            Pada tanaman melon menggunakan insektisida, bahan aktif:
            <ul>
            <li>Merkaptodimetur 50%, </li>
            <li>Fenpropatrin 50 g/l</li>
            </ul>
        </p>
        <p>
            Pada tanaman paprika menggunakan insektsida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=abamektin%20(abamectin)"><li>Abamektin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Spinosad"><li>Spinosad</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Spinetoram"><li>Spinetoram</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Klorfenapir"><li>Klorfenapir</li></a>
            </ul>
        </p>

        </ul>
      </p>
      </div>
  </div>
</div>

{% endblock %}