{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1><i>Leaf Miner</i></h1>
      <div class="position-relative overflow-hidden text-justify">
      <h4>Penjelasan Hama</h4>
      <center><img src="static/images/resource/leafminer.png" height="225px"> <img src="static/images/resource/leafminer_tomat2.jpg" height="225px"></center><br>
    <p>
        <p>
<!--            Hama <i>leaf miner</i> umumnya dikenal dengan nama penggerek daun. Terdapat dua model penggerek daun yaitu, -->
<!--            <i>spinach leaf miner</i> dan <i>vegetable leaf miner</i>.-->

            <i>Leaf miner</i> atau pengerek daun merupakan hama yang berukuran sekitar 2 mm berwarna hitam-kuning. Larvanya
            berbentuk silinder dengan ukuran 2,5 mm, berwarna putih bening dan, tidak mempunyai kepala atau kaki. Sedangkan
            Fase imago dari hama ini menyerupai lalat bibit dengan warna hitam dan kuning.
            <br></br>
            <i>Leaf miner</i> dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
            tomat, kentang, cabai merah, cabai rawit, dan melon.

        </p>
<!--    <img src="static/images/resource/leafminer.png"><br><br>-->
<!--        <p>-->
<!--            <i>Spinach leaf miner</i> memiliki tubuh berwarna abu-abu. Hama ini berukuran 5 mm hingga 7 mm-->
<!--            untuk panjang dari ujung kepala hingga ujung sayap.-->
<!--        </p>-->
<!--        <p>-->
<!--            <i>Vegetable leaf miner</i> memiliki tubuh berwarna abu-abu kehitaman dengan corak berwarna kuning-->
<!--            cerah. Hama ini berukuran 1,25 mm hingga 1,7 mm untuk panjang badan, sedangkan untuk panjang dari-->
<!--            ujung kepala hingga ujung sayap berukuran 1,7 mm hingga 2,3 mm.-->
<!--        </p>-->


        Gejala pada tanaman-tanaman yang dihinggapi oleh <i>leaf miner</i> hingga terinfeksi yaitu sebagai berikut:
        <ol>
        <li>Tanaman tomat</li>
            <p>
                Larva merusak tanaman dengan cara mengorok daun, sedangkan serangga dewasa merusak tanaman dengan
                tusukan ovipositor pada saat meletakan telur serta dengan menusuk dan menghisap cairan tanaman.
<!--
1). Setiawati, W., Sulastrini, I., & Gunaeni, N. (2001). Penerapan teknologi PHT pada tanaman tomat. Bandung: Balai Penelitian Tanaman Sayuran;
2).Penggorok Daun, diakses melalui http://ditlin.hortikultura.pertanian.go.id/index.php/page/index/opt-sayur-tomat-pengorok-daun/sayur/Tomat -->

            </p>
        <li>Tanaman kentang</li>
            <p>
                Daun yang diserang larva <i>leaf miner</i> terdapat bekas korokan dan menyisakan bagian epidermis daun.
                Sedangkan daun yang diserang serangga dewasa terdapat bekas tusukan ovipositor pada saat serangga
                meletakan telur dan menghisap cairan tanaman. Hasilnya daun berwarna merah kecoklatan pada saat serangan tinggi.
<!--
1). Diwa, A T., Dianawati, M., dan Sinaga, A. 2015. Petunjuk Teknis Budidaya Kentang. Balai Pengkajian Teknologi Pertanian Jawa Barat, diakses melalui http://repository.pertanian.go.id/bitstream/handle/123456789/6496/Juknis_Bdy_Kentang.pdf?sequence=1&isAllowed=y ;
2). Duriat, AS., Gunawan, O S., dan Gunaeni, N. 2006. Penerapan Teknologi PHT pada Tanaman Kentang. Balai Penelitian Tanaman Sayuran. Diakses melalui http://sidolitkaji.litbang.pertanian.go.id/i/files/PHTkentang.pdf -->
            </p>
        <li>Tanaman melon</li>
            <p>
                Pada daunnya terdapat bintik-bintik putih akibat tusukan lalat dewasa dan alur korokan berwarna putih
                oleh larva. Ketika serangan tinggi daun menjadi gugur.
<!--Saptayani, N., et al. 2015. Buku Pedoman Pengelolaan Organisme Pengganggu Tumbuhan secara Ramah Lingkungan pada Tanaman Melon. Direktorat Perlindungan Hortikultura, Kementerian Pertanian Republik Indonesia. Diakses melalui http://ditlin.hortikultura.pertanian.go.id/assets/cp/901111-12_19012020_1579444940_Pedoman_Pengenalan_dan_Pengendalian_OPT_Pada_Tanaman_Melon.pdf                 -->

            </p>
        <li>Tanaman paprika</li>
            <p>
                Daun yang terserang akan terdapat bintik-bintik putih bekas tusukan serangga dewasa dan alur bekelok-kelok
                pada daun akibat serangan larva. Lubang korokan yang dihasilkan dapat menjadi semakin lebar seiring
                pertumbuhan larva. Ketika serangan berat, hampir pada seluruh daun penuh dengan korokan, akhirnya
                mengakibatkan daun mengering seperti terbakar.
<!--
1). Susetyo, H. -. Organisme Pengganggu Tanaman (OPT) pada Tanaman Paprika dan Teknik Pengendalian. Direktorat Perlindungan Hortikultura. Diakses melalui http://hortikultura.pertanian.go.id/wp-content/uploads/2017/03/OPT-pada-Tanaman-Paprika-dan-Teknik-Pengendalian.pdf ;
2). Moekasan, et al. 2011. Pengendalian Hama Terpadu pada Budidaya Paprika. Jakarta: Pusat Penelitian dan Pengembangan Hortikultura, Kementerian Pertanian RI, diakses melalui https://sidolitkaji.litbang.pertanian.go.id/i/files/PHT_paprika.pdf ; 3). Rachmat, M., et al. 2006. Standar Prosedur Operasional (SPO) Paprika di Greenhouse. Direktorat Budidaya Tanaman Sayuran dan Biofarmaka, diakses melalui https://distan.jogjaprov.go.id/wp-content/download/teknologi/spo%20paprika.pdf -->
            </p>
        </ol>
            Selain itu <i>leaf miner</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
            tomat, kentang, cabai merah, cabai rawit, dan melon.




    <br><br><br>
    <h4>Penanganan Hama</h4><br>
        <center>
            <img src="static/images/resource/leafminer_tomat1.jpg" height="180px">
            <img src="static/images/resource/leafminer_tomat2.jpg" height="180px">
            <img src="static/images/resource/leafminer_kentang.jpg" height="180px"><br><br>
            <img src="static/images/resource/leafminer_melon.png" height="180px">
            <img src="static/images/resource/leafminer_paprika.jpg" height="180px"><br>
            <h6><i>Leaf miner</i> pada tomat (atas), kentang (tengah), melon (kiri bawah), dan paprika (kanan bawah)</h6>
            <br>
        </center>
    <p>
        Pengendalian terhadap <i>Leaf miner</i> pada umumnya dapat dilakukan dengan beberapa cara, yaitu:
        <ul>
        <li>Kultur teknis</li>
        <p>
            Teknik kultur teknis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Sanitasi lahan, </li><p></p>
            <li>Pemupukan berimbang, </li><p></p>
            <li>Irigasi cukup, </li><p></p>
            <li>Pembumbunan</li>
            <p>
            Pembumbunan merupakan usaha mencangkul sedikit atau mencangkul ringan tanah yang berada disela jarak tanam
            tanaman budidaya kemudian digundukkan dipangkal batang tanaman.<br>
<!--            (https://media.neliti.com/media/publications/129306-ID-none.pdf)-->
            </p>
            Penyiangan dan pembumbunan dilakukan pada saat tanaman berumur 28 hari setelah tanam (HST) bersamaan dengan
            penggemburan dan pemupukan susulan diikuti pengguludan tanaman. Penyiangan dan pembumbunan selanjutnya
            dilakukan pada saat tanaman berumur 40–45 HST.<br><br>
<!--            (http://cybex.pertanian.go.id/mobile/artikel/86394/Teknis-Budidaya-Tanaman-Tomat/) -->

            <li>Tanaman perangkap, </li><p></p>
            <li>Mulsa perak, </li><p></p>
            </ol>
        Dapat dilakukan juga rotasi tanaman dan penggunaan mulsa perak pada tanaman melon

        </p>

        <li>Mekanis atau fisik</li>
        <p>
            Penanganan secara mekanis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Memasang perangkap kuning (<i>fly trap</i>), </li>
            <li>Memotong dan memusnahkan bagian daun terserang pada tanaman tomat dan kentang</li>
            </ol>
        </p>

        <li>Biologi</li>
        <p>
            Secara biologi pada tanaman ini dapat dilakukan penggunaan parasitoid,
            <br>
            pada tanaman tomat:
            <ol>
            <li>Chrysocharis sp., </li>
            <li>Closterocerus sp., </li>
            <li>Cirrospilua ambigus, </li>
            <li>Neochrysocharis formosa, </li>
            <li>Phigalia sp., </li>
            <li>Quadrastichus sp., </li>
            <li>Zagrammosoma sp.</li>
            </ol>

            <br>
            pada tanaman tomat dan kentang seperti:
            <ol>
            <li>Asecodes sp., </li>
            <li>Hemiptarsenus varicornis Girault, </li>
            <li>Gronotoma sp., </li>
            <li>Opius sp.</li>
            </ol>
            dan parasitoid Hemiptarsenus longicornis pada tanaman melon. <br><br>
            Selain itu dapat digunakan predator seperti Coenosia humilis yang umumnya diketahui sebagai lalat predator (pada tanaman tomat dan
            kentang), H. varicornis (pada tanaman tomat), dan laba-laba (pada tanaman melon)<br>
            <center><img src="static/images/resource/labalaba.png" height="360"></center>
<!--            https://dkpp.probolinggokab.go.id/wp-content/uploads/2019/12/laba-laba.pdf-->
        </p>

        <li>Kimia</li>
        <p>
            Pada tanaman tomat menggunakan insektsida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Siromazin"><li>Siromazin 75 %</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Abamektin"><li>Abamectin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Klorfluazuron"><li>Klorfluazuron</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Dimetoat"><li>Dimetoat</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Profenofos"><li>Profenofos</li></a>
            </ul>
        <p>
        <p>
            Pada tanaman kentang menggunakan insektsida, bahan aktif:
            <ul>
            <li>Siromazin 75 %</li>
            <li>Abamectin</li>
            <li>Klorfluazuron</li>
            <li>Dimetoat</li>
            <li>Profenofos</li>
            </ul>
        </p>
        <p>
            Pada tanaman paprika menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Siromazin"><li>Siromazin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=tiametoksam"><li>Tiakmektosam</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Dimehipo"><li>Dimehipo</li></a>
            </ul>
        </p>
        </ul>
    </p>
    </div>
  </div>
</div>

{% endblock %}