{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1>Lalat buah</h1>
      <div class="position-relative overflow-hidden text-justify">
      <h4>Penjelasan Hama</h4><br>
      <center><img src="static/images/resource/lalat1.png" height="240px"> <img src="static/images/resource/lalat2.png" height="240px"></center><br><br>
    <p>
        Lalat buah merupakan hama yang umum ditemui. Pada bagian ini akan dibahas lalat buah yang menghinggapi tanaman
        cabai merah, cabai keriting, jeruk dan melon. Lalat buah ini memiliki ukuran tubuh yang sedikit lebih kecil
        dari lalat rumah, tetapi lebih panjang sekitar 3 mm dengan lebar 2 mm. Lalat ini memiliki sayap yang selalu
        terbuka dengan ciri terdapat pola sayap <i>cross vein.</i> Lalat buah dewasa pada sayapnya memiliki bercak
        hitam, putih, atau kekuningan dengan tubuh yang berwarna hitam kemerahan atau kekuningan.
    </p>
        Lalat buah menyerang banyak buah pada tanaman, berikut merupakan ciri buah yang terserang lalat buah:
        Terdapat lubang kecil bekas tusukan ovipositor, namun tidak tampak jelas. Kemudian, buah yang terserang lalat buah
        warnanya akan berubah dan menjadi layu dan busuk. Ketika buah dibelah terdapat larva lalat. Pada cabai yang terserang
        lalat buah, terdapat titik hitam pada bagian pangkal buah. Warna buah menjadi kuning pucat dan buah akan jatuh ke tanah.
      <br><br>
        <i>Lalat buah</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.


      <br><br><br>
      <h4>Penanganan Hama</h4><br>
        <center>
            <img src="static/images/resource/lalatbuah_cabai1.png" height="180px">
            <img src="static/images/resource/lalatbuah_cabai2.jpg" height="180px"><br><br>
            <img src="static/images/resource/lalatbuah_jeruk.jpg" height="180px">
            <img src="static/images/resource/Lalatbuah_melon.jpg" height="180px"><br>
            <h6>Lalat buah pada cabai (atas), jeruk (kiri bawah), dan melon (kanan bawah)</h6>
            <br>
        </center>
    <p>
        Pengendalian terhadap lalat buah pada umumnya dapat dilakukan dengan beberapa cara, yaitu:
        <ul>
        <li>Kultur teknis</li>
        <p>
            dengan melakukan
            <ol>
            <li>sanitasi lahan atau kebun (pada kasus tanaman jeruk)</li><br>
            Pada tanaman jeruk,
            <li>pemasangan mulsa</li>
            <li>pembungkusan buah</li>
            <li>rotasi tanaman (pada tanaman jeruk, pada tanaman cabai rotasi dengan tanaman kacang-kacangan)</li>
            </ol>
<!--            https://www.bppt.go.id/berita-bppt/ini-dia-solusi-agar-tanaman-cabai-tidak-rusak-oleh-hama-->
        </p>

        <li>Mekanis atau fisik</li>
        <p>
            penanganan secara fisik dapat dilakukan dengan:
            <ol>
            <li>memusnahkan buah terserang untuk tanaman cabai dan melon</li>
            <li>gunakan perangkap kuning untuk tanaman cabai dan jeruk</li>
            <li>membungkus buah pada tanaman jeruk dan melon</li><br>
            Pada tanaman jeruk, buah di bungkus ketika mencapai umur 1.5 bulan, dengan menggunakan kertas semen atau kantong plastik.
            <li>meggunakan perangkap antraktan pda tanaman melon</li>
            <li>melakukan pengasapan pada tanaman jeruk</li>
            </ol>
        </p>

        <li>Biologi</li>
        <p>
            penanganan secara biologi dapat dilakukan dengan menggunakan:
            <ol>
            <li>parasitoid dari famili <i>Braconidae</i> seperti <i>Biosteres sp.</i> dan <i>Opius sp. untuk tanaman cabai</i></li>
            <li>predator seperti:</li>
            <ul>
                <li>semut <i>Odontoponera denticulata</i>, semut rang-rang (<i>Oecophyla smaragdina</i>) pada tanaman melon</li>
                <center><img src="static/images/resource/semut.jpg" height="180px"></center>
                <li>laba-laba, kumbang (<i>Staphylinidae</i>) dan cecopet (<i>Dermaptera</i>) pada tanaman cabai dan melon</li>
                <li>pelepasan serangga mandul pada tanaman jeruk</li>
            </ul>
            <li>atau melakukan idem cabai pada  tanaman melon dan jeruk</li>
            </ol>
        </p>

        <li>Kimia</li>
        <p>
            Pada tanaman cabai menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=sipermetrin%20(cypermethrin)"><li>sipermetrin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=deltametrin"><li>deltametrin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Profenofos"><li>profenofos</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=klorpirifos"><li>klorpinfos</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=metomil"><li>metomil</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=kartap%20hidroklorida"><li>kartophidroklorida</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=dimehipo"><li>dimehipo</li></a>
            </ul>
        </p>
          <p>
            Pada tanaman jeruk menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Dimethoate"><li>Dimethoate</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Abamektin"><li>Abamektin</li></a>
            </ul>
        </p>
        <p>
            Pada tanaman melon menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=beta%20siflutrin"><li>beta siflutrin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=profenofos"><li>profenofos</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=deltametrin"><li>deltametrin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=metidation"><li>metidation</li></a>
            <a href="https://balitsa.litbang.pertanian.go.id/ind/images/isi_monografi/M-61%20Seri%20Pestisida%20untuk%20Bawang%20merah-cabai%20merah.pdf"><li>protiofos</li></a>
            <li>Tokuthion 500 EC</li>
            </ul>
        </p>
        </ul>
    </p>
      </div>
  </div>
</div>

{% endblock %}