{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1><i>Whitefly</i></h1>
      <div class="position-relative overflow-hidden text-justify">
      <h4>Penjelasan Hama</h4>
      <center><img src="static/images/resource/whitefly1.png" height="180px"></center><br><br>
    <p>
        Hama yang satu ini umumnya dikenal dengan nama 'kutu putih' atau 'kutu kebul'. Nama ini didapatkan
        karena warnanya yang terlihat seperti dilapisi oleh tapung atau kebul hingga berwarna putih.
        Hama ini memiliki warna sayap putih untuk yang sudah dewasa, sedangkan untuk yang belum
        dewasa belum memiliki warna sayap atau warna sayap masih transparan. <i>Whitefly</i> umumnya
        berkelompok dan memiliki ukuran 1 mm hingga 1,5 mm untuk panjang dari ujung kepala hingga ujung sayap.
    </p>
    <center><img src="static/images/resource/whitefly2.png" height="180px"></center><br><br>
    <p>
        Terdapat dua jenis <i>whitefly</i> yang memiliki ciri-ciri yang sama, yaitu <i>greenhouse whitefly</i>
        dan <i>sweetpotato whitefly</i>. Kedua <i>whitefly</i> ini dibedakan dari posisi sayap ketika sedang
        tidak digunakan. <i>Greenhouse whitefly</i> memiliki posisi sayap yang cenderung berbentuk segitiga,
        sedangkan <i>sweetpotato whitefly</i> memiliki posisi sayap yang cenderung berbentuk oval seperti
        ditunjukkan pada gambar diatas.
    </p>
        Gejala pada tanaman yang dihinggapi oleh <i>whitefly</i> hingga terinfeksi yaitu adanya bercak nekrotik
        pada daun dan embun madu yang dikeluarkan dapat menimbulkan jamur jelaga hitam. Tanaman yang di hinggapi
        <i>whitefly</i> umumnya tanaman tomat, kentang, cabai merah, dan cabai rawit.
          <br></br>
        Namun, <i>whitefly</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.


    <br><br><br>
    <h4>Penanganan Hama</h4><br>
        <center>
            <img src="static/images/resource/whitefly_tomat.jpg" height="180px">
            <img src="static/images/resource/whitefly_cabai.jpg" height="180px"><br><br>
            <img src="static/images/resource/whitefly3.jpg" height="180px"><br>
            <h6><i>Whitefly</i> pada tomat (kiri), cabai (kanan), dan tanaman pada umumnya (bawah)</h6>
            <br>
        </center>
    <p>
        Pengendalian terhadap hama <i>whitefly</i> pada umumnya dapat dilakukan dengan beberapa cara, yaitu:
        <ul>
        <li>Kultur teknis</li>
        <p>
            Teknik kultur teknis dapat dilakukan dengan:
            <ol>
            <li>Sanitasi lahan, </li><p></p>
            <li>Tanaman perangkap, </li>
            <p>
                Seperti tagetes, jagung atau bunga matahari.
            </p>
            <li>Rotasi tanaman</li>
            <p>
                Melakukan rotasi tanaman dengan yang bukan dari species <i>solanaceae</i> atau <i>curcubitaceae</i>
            </p>
            </ol>
        </p>

        <li>Mekanis atau fisik</li>
        <p>
            Penanganan secara mekanis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Memusnahkan tanaman terserang, </li>
            <li>Memasang perangkap kuning (<i>fly trap</i>)</li>
            <li>Memasang kelambu saat pembibitan, khususnya saat musim kemarau</li>
            </ol>
        </p>

        <li>Biologi</li>
        <p>
            Pada tanaman cabai dapat digunakan:
            <ol>
            <li>Parasitoid seperti <i>encarsia sp.</i></li><p></p>
            <li>Predator seperti:</li>
                <ul>
                <li><i>Scymnus sp.</i></li>
                <center><img src="static/images/resource/scymnus.png"></center>
                <li><i>Menochillus sp.</i></li>
                <center><img src="static/images/resource/menochilus.jpg"></center>
                <li>larva <i>Chrysopidae</i></li>
                <li>kepik <i>Anthocoridae Amblyseius sp.</i></li>
                </ul>
            <br>
            <li>Pestisida nabati, seperti:</li>
                <ul>
                <li>Nimba</li>
                <p>Pembuatan Ekstrak Air Biji Mimba
                    <ol>
                    <li>Kering anginkan biji mimba beserta kulit biji sampai kering agar tidak berjamur.</li>
                    <li>Giling biji dan kulit biji mimba sampai halus, kemudian saring dengan ayakan (850 µm).</li>
                    <li>Timbang 25-50 g serbuk biji mimba + 1 l air + 1 ml alkohol aduk rata, kemudian rendam semalam (12 jam).</li>
                    <li>Keesokan harinya rendaman bahan disaring dengan kain furing</li>
                    <li>Larutan hasil penyaringan kemudian ditambah dengan 1 g deterjen atau 0,5 ml perata (apsa), aduk
                        rata dan larutan siap disemprotkan</li>
                    <li>Penyemprotan sebaiknya dilakukan pada sore hari, dengan volume semprot yang memadai 400-600 l air,
                        tergantung umur tanaman yang akan disemprot</li>
                    </ol>
                </p>

                <p>Pembuatan Ekstrak Air Daun Mimba
                    <ol>
                    <li>Blender 50 g daun mimba segar dengan 1 l air + 1 ml alkohol aduk rata, kemudian rendam semalam (12 jam).</li>
                    <li>Keesokan harinya rendaman bahan disaring dengan kain furing</li>
                    <li>Larutan hasil penyaringan kemudian ditambah dengan 1 g deterjen atau 0,5 ml perata (apsa), aduk
                        rata dan larutan siap disemprotkan.</li>
                    </ol>
                </p>
                <li>Tagetes</li>
                <p>
                    Daun atau bunga ditumbuk, kemudian ditambahkan air dengan perbandingan 1:10. Aplikasi dilakukan
                    dengan penyiraman pada tanaman terinfeksi.
                </p>
                    PELATIHAN PEMBUATAN PESTISIDA ALAMI UNTUK MENGENDALIKAN HAMA DAN PENYAKIT TANAMAN PADI DI DESA
                    TENJOLAYA DAN DESA SUKAMELANG, KECAMATAN KASOMALANG, KABUPATEN SUBANG
                    <br><br>
                <li>Eceng gondok</li>
                <p>Pembuatan
                    <ol>
                    <li>1 kg eceng gondok diblender halus dengan 10 gram EM-4</li>
                    <li>Hasil blender direndam dalam 1 liter air dan didiamkan selama 20 jam</li>
                    <li>Hasil blender disaring untuk diambil air/larutannya</li>
                    <li>Larutan disemprotkan setiap pagi ke seluruh bagian tanaman</li>
                    </ol>
                </p>
                <li>Rumput laut</i></li>
                </ul>
            </ol>
        </p>

        <li>Kimia</li>
        <p>
            Pada tanaman tomat dan cabai menggunakan insektisida dengan bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=uprofezin"><li>Uprofezin 10%</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=imidakloprid"><li>Imidakloprid 5%</li></a>
            <li>Amitraz 200 g/l</li>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=asefat"><li>Asefat 75%</li></a>
            </ul>
        </p>
        </ul>
      </p>
      </div>
  </div>
</div>

{% endblock %}