{% extends "base.html" %}

{% block title %}
    Register Page
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}


<div class="col-md-7 p-md-5 mx-auto my-3">
 <div class="container-fluid container" style="padding:1em;">

    <div class="container text-center">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Registrasi Akun
            </h1>
            <br>
            {{ form.nama.label() }}
            {{ form.nama(class="form-control", placeholder="Nama Anda") }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            <br>

            {{ form.alamat.label() }}
            {{ form.alamat(class="form-control", placeholder="Alamat") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Alamat Email") }}

            <br>

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Password") }}

            <input type="checkbox" onclick="myFunction()">Tampilkan Password
            <script>
                function myFunction() {
                    var x = document.getElementById("password1");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                    x = document.getElementById("password2");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                } 
            </script>

            <br>
            <br>

            {{ form.submit(class="btn btn-xs btn-block btn-secondary") }}

            <br>
            <div class="checkbox mb-3">
                <a href="{{ url_for('login_page') }}">
                    <h6>Sudah punya akun?</h6>
                </a>
            </div>

        </form>
    </div>
 </div>
  </div>

{% endblock %}