{% extends "base.html" %}

{% block title %}
    Upload Page
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}


<div class="col-md-8 p-md-5 mx-auto my-3 text-center">
 <div class="container-fluid container" style="padding:1em;">

            <h1 class="h3 mb-3 font-weight-normal-center">
                Isi form dibawah ini untuk memasukkan gambar yang ingin anda unggah
            </h1>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
<!--you have uploaded this image, goback to..-->
            <br>

            {{ form.place.label() }}
            {{ form.place(class="form-control", placeholder="Lokasi") }}

            <br>

            {{ form.file(class="btn btn-xs btn-secondary") }}
            {{ form.submit(class="btn btn-xs btn-secondary") }}
        </form>
        <br>

    </div>

  </div>

</div>

{% endblock %}